<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo de Confirmación</title>
    <!-- Enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mt-5">
                    <img src='@Url.Content("~/imagen/logo.png")' alt='Logo' style='border:0; display:block; outline:none; text-decoration:none; height:auto; width:100%; font-size:13px;' />



                    <div class="card-body">
                        <h5 class="card-title">Correo de Confirmación</h5>
                        <p class="card-text">
                            ¡Gracias por enviar el formulario! Hemos recibido la siguiente información:
                        </p>
                        <ul>
                            <li><strong>País:</strong> Argentina</li>
                            <li><strong>Provincia:</strong> Buenos Aires</li>
                            <li><strong>Localidad:</strong> La Plata</li>
                            <li><strong>Tipo de Consulta:</strong> Consulta 1</li>
                            <li><strong>Correo de Contacto:</strong> ejemplo@correo.com</li>
                            <li><strong>Locación Seleccionada:</strong> CEREH</li>
                        </ul>
                        <p class="card-text">
                            Agradecemos tu interés y nos pondremos en contacto contigo a la brevedad.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Enlace a Bootstrap JS (opcional) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
