@model SistemaMerck.Modelos.ViewModels.FormularioViewModel


@{
    ViewData["Title"] = "MostrarFormulario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="pantalla5">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <div class="titulo-formulario mb-4">
                    <a href="javascript:history.back()" class="btn">
                        <i class="bi bi-caret-left text-white"></i>
                    </a>

                    <span class="h4 text-white">Formulario</span>

                    <!-- Enlace para avanzar -->
                    <a href="#" class="btn">
                        <i class="bi bi-caret-right text-white"></i>
                    </a>
                </div>
            </div>
            <div style="height:50px;background-color:white;border-top-left-radius:100px;border-top-right-radius:100px;">
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <form id="filtroForm" method="post" asp-controller="Formulario" asp-action="MostrarFormulario" class="mt-4">

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <!-- Selector de País -->
                    <div class="form-group d-flex flex-column align-items-center">
                        <label asp-for="PaisSeleccionado" class="text-primary">
                            País:
                        </label>
                        <div class="custom-input-group d-flex align-items-center">
                            <i class="input-group-text bi bi-geo-alt text-primary custom-icon" style="background-color: lightgray; font-size: 20px; margin-right: 10px;"></i>
                            <select asp-for="PaisSeleccionado" asp-items="Model.ListPaises" class="form-control custom-select" onchange="cargarProvincias()">
                                <option value="">Selecciona una opción</option>
                            </select>
                        </div>
                        <span asp-validation-for="PaisSeleccionado" class="text-danger"></span>
                    </div>

                    <hr class="mt-4" />

                    <div class="form-group d-flex flex-column align-items-center">
                        <label asp-for="ProvinciaSeleccionada" class="text-primary">
                            Provincia:
                        </label>
                        <div class="custom-input-group d-flex align-items-center">
                            <i class="input-group-text bi bi-geo-alt custom-icon text-primary" style="background-color: lightgray; font-size: 20px; margin-right: 10px;"></i>
                            <select asp-for="ProvinciaSeleccionada" asp-items="Model.ListProvincia" class="form-control custom-select" id="Provincia" onchange="capturarProvinciaSeleccionada(this); cargarLocalidades();">
                                <option value="">Selecciona una opción</option>
                            </select>
                        </div>
                        <span asp-validation-for="ProvinciaSeleccionada" class="text-danger"></span>
                    </div>

                    <hr class="mt-4" />

                    <div class="form-group d-flex flex-column align-items-center">
                        <label asp-for="LocalidadSeleccionada" class="text-primary">
                            Localidad:
                        </label>
                        <div class="custom-input-group d-flex align-items-center">
                            <i class="input-group-text bi bi-geo-alt custom-icon text-primary" style="background-color: lightgray; font-size: 20px; margin-right: 10px;"></i>
                            <select asp-for="LocalidadSeleccionada" asp-items="Model.ListLocalidad" class="form-control custom-select" id="Localidad">
                                <option value="">Selecciona una opción</option>
                            </select>
                        </div>
                        <span asp-validation-for="LocalidadSeleccionada" class="text-danger"></span>
                    </div>
                    <hr class="mt-4" />
                </div>
                <div class="col-md-6">
                    <div class="form-group d-flex flex-column align-items-center">
                        <label asp-for="TipoConsultaSeleccionado" class="text-danger">
                            Tipo de Consulta:
                        </label>
                        <div class="custom-input-group d-flex align-items-center">
                            <i class="input-group-text bi bi-journal text-danger custom-icon" style="background-color: lightgray; font-size: 20px; margin-right: 10px;"></i>
                            <select asp-for="TipoConsultaSeleccionado" asp-items="Model.ListTiposConsulta" class="form-control custom-select">
                                <option value="">Selecciona una opción</option>
                            </select>
                        </div>
                        <span asp-validation-for="TipoConsultaSeleccionado" class="text-danger"></span>
                    </div>
                    <hr class="mt-4" />
                    <div class="form-group d-flex flex-column align-items-center">
                        <label asp-for="Correo" class="text-danger">
                            Correo:
                        </label>
                        <div class="custom-input-group d-flex align-items-center">
                            <i class="input-group-text bi bi-envelope text-danger custom-icon" style="background-color: lightgray; font-size: 20px; margin-right: 10px;"></i>
                            <input asp-for="Correo" class="form-control custom-input" />
                        </div>
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>
                </div>
            </div>



            <hr class="mt-4" />


            <input id="ClinicaSeleccionada" name="LocacionSeleccionada" type="hidden" class="form-control" asp-for="LocacionSeleccionada" readonly />
            <span asp-validation-for="LocacionSeleccionada" class="text-danger"></span>
            <div class="text-center mt-3">
                <button type="submit" id="enviarButton" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>

    <div class="container mt-4">
        <div class="row" id="locacionesList">
            @if (Model.LocacionesFiltradas != null && Model.LocacionesFiltradas.Any())
            {
                @foreach (var locacion in Model.LocacionesFiltradas)
                {
                    <div class="input-group-prepend col-12 col-md-4 mb-2">
                        <div class="input-group-text locacion-item custom-icon">
                            <i class="input-group-text bi bi-hospital-fill locacion-icon custom-icon" style="background-color: lightgray"></i>
                            <p class="locacion-nombre custom-nombre">@locacion.Nombre</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <!-- Script para cargar el script filtrarUbicaciones.js -->
    <script src="~/js/formulario.js"></script>
</body>