@model SistemaMerck.Modelos.ViewModels.FormularioViewModel
@using SistemaMerck.Modelos;

@{
    ViewData["Title"] = "MostrarFormulario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="pantalla5">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <div class="titulo-formulario mb-4">
                    <a href="javascript:history.back()" class="btn">
                        <i class="bi bi-caret-left text-white"></i>
                    </a>

                    <span class="h4 text-white">Formulario</span>

                    <!-- Enlace para avanzar -->
                    <a href="#" class="btn">
                        <i class="bi bi-caret-right text-white"></i>
                    </a>
                </div>
            </div>
            <div style="height:50px;background-color:white;border-top-left-radius:100px;border-top-right-radius:100px;">
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <form id="filtroForm" method="post" asp-controller="Formulario" asp-action="MostrarFormulario" class="mt-4">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <!-- Selector de País -->
                    <div class="form-group">
                        <label asp-for="PaisSeleccionado">
                            País:
                        </label>
                        <div class="d-flex align-items-center custom-icon">
                            <i class="input-group-text bi bi-geo-alt text-primary custom-icon" style="background-color: lightgray"></i>
                            <select asp-for="PaisSeleccionado" asp-items="new SelectList(Model.ListPaises, nameof(Paises.NombrePais), nameof(Paises.NombrePais))" class="form-control" onchange="cargarProvincias()">
                                <option value="">Selecciona una opción</option>
                            </select>

                        </div>
                        <span asp-validation-for="PaisSeleccionado" class="text-danger"></span>
                    </div>


                    <hr class="mt-4" />

                    <div class="form-group">
                        <label asp-for="ProvinciaSeleccionada">
                            Provincia:
                        </label>
                        <div class="d-flex align-items-center custom-icon">
                            <i class="input-group-text bi bi-geo-alt custom-icon text-primary" style="background-color: lightgray"></i>
                            <select asp-for="ProvinciaSeleccionada" asp-items="new SelectList(Model.ListProvincia, nameof(Provincia.NombreProvincia), nameof(Provincia.NombreProvincia))" class="form-control" id="Provincia" onchange="capturarProvinciaSeleccionada(this); cargarLocalidades();">
                                <option value="">Selecciona una opción</option>
                            </select>

                        </div>
                        <span asp-validation-for="ProvinciaSeleccionada" class="text-danger"></span>
                    </div>

                    <hr class="mt-4" />

                    <div class="form-group">
                        <label asp-for="LocalidadSeleccionada">
                            Localidad:
                        </label>
                        <div class="d-flex align-items-center custom-icon">
                            <i class="input-group-text bi bi-geo-alt custom-icon custom-icon text-primary" style="background-color: lightgray"></i>
                            <select asp-for="LocalidadSeleccionada" asp-items="new SelectList(Model.ListLocalidad, nameof(Localidades.NombreLocalidad), nameof(Localidades.NombreLocalidad))" class="form-control" id="Localidad">
                                <option value="">Selecciona una opción</option>
                            </select>
                        </div>
                        <span asp-validation-for="LocalidadSeleccionada" class="text-danger"></span>
                    </div>
                    <hr class="mt-4" />
                </div>
                <div class="col-md-6">
                    <!-- Selector de Tipo de Consulta -->
                    <div class="form-group">
                        <label asp-for="TipoConsultaSeleccionado">
                            Tipo de Consulta:
                        </label>
                        <div class="d-flex align-items-center custom-icon">
                            <i class="input-group-text bi bi-journal text-danger custom-icon" style="background-color: lightgray"></i>
                            <select asp-for="TipoConsultaSeleccionado" asp-items="new SelectList(Model.ListTiposConsulta, nameof(TipoConsulta.Consulta), nameof(TipoConsulta.Consulta))" class="form-control">
                                <option value="">Selecciona una opción</option>
                            </select>
                        </div>
                        <span asp-validation-for="TipoConsultaSeleccionado" class="text-danger"></span>
                    </div>
                    <hr class="mt-4" />
                    <div class="form-group">
                        <label asp-for="Correo">
                            Correo:
                        </label>
                        <div class="d-flex align-items-center custom-icon">
                            <i class="input-group-text bi bi-envelope text-danger custom-icon" style="background-color: lightgray"></i>
                            <input asp-for="Correo" class="form-control" />
                        </div>
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr class="mt-4" />
            <input id="ClinicaSeleccionada" name="LocacionSeleccionada" hidden  class="form-control" asp-for="LocacionSeleccionada" readonly />

            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>

    <div class="container mt-4">
        <div class="row" id="locacionesList">
            @if (Model.LocacionesFiltradas != null && Model.LocacionesFiltradas.Any())
            {
                @foreach (var locacion in Model.LocacionesFiltradas)
                {
                    <div class="input-group-prepend col-12 col-md-4 mb-2">
                        <div class="input-group-text locacion-item custom-icon">
                            <i class="input-group-text bi bi-hospital-fill locacion-icon custom-icon" style="background-color: lightgray"></i>
                            <p class="locacion-nombre custom-nombre">@locacion.Nombre</p>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12">
                    <div class="alert alert-info">No hay locaciones disponibles.</div>
                </div>
            }
        </div>
    </div>

    <!-- Script para cargar el script filtrarUbicaciones.js -->
    <script src="~/js/formulario.js"></script>
</body>


