@model SistemaMerck.Modelos.ViewModels.UsuarioVM
@{
    ViewData["Title"] = "Home Page";
}

<form method="post" asp-action="Pantalla2">
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-md-6 text-center">
                <h2 class="titulo-formulario">Formulario</h2>

                <div class="form-group mt-4">
                    <label class="dropdown-label" asp-for="EdadActual">
                        Edad Actual:
                    </label>

                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text bi bi-people dropdown-icon"></span>
                        </div>
                        <select name="EdadActual" id="EdadActual" asp-items="@Model.Edades" class="form-select ps-2">
                            <option value="8">8</option>
                        </select>
                    </div>
                    <span asp-validation-for="EdadActual" class="text-danger"></span>
                </div>

                <hr class="mt-4" />

                <div class="form-group mt-4">
                    <label class="dropdown-labeltwo" asp-for="EdadPrimeraMentruacion">
                        Edad Primera Menstruación:
                    </label>

                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text bi bi-moisture dropdown-icontwo"></span>
                        </div>
                        <select name="EdadPrimeraMentruacion" id="EdadPrimeraMentruacion" asp-items="@Model.Edades" class="form-select ps-2" data-val="true" data-val-range="La Edad Primera Menstruación no puede ser mayor que la Edad Actual.">
                            <option value="8">8</option>
                        </select>
                    </div>
                    <span asp-validation-for="EdadPrimeraMentruacion" class="text-danger"></span>
                </div>

                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-primary btn-siguiente">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
</form>









