@using SistemaMerck.Modelos.Dto;
@model List<LocacionDto>
@{
    ViewData["Title"] = "Locaciones";
}

<h2>Locaciones</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Latitud</th>
            <th>Longitud</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var locacion in Model)
        {
            <tr>
                <td>@locacion.Nombre</td>
                <td>@locacion.Latitud</td>
                <td>@locacion.Longitud</td>
            </tr>
        }
    </tbody>
</table>

