@model SistemaMerck.Modelos.ViewModels.UsuarioVM
@{
    ViewData["Title"] = "Pantalla2";
}


<body style="background: linear-gradient(to bottom, #c33b80 50%, #fdddca 50%)">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <p class="reserva-texto text-white font-family-roboto">EDAD ACTUAL: @Model.EdadActual</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <p class="reserva-texto text-white font-family-roboto">1ERA MENSTRUACIÓN MENSTRUACIÓN: @Model.EdadPrimeraMentruacion</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <a asp-controller="Home" asp-action="Pantalla3" class="btn btn-primary">Quiero Saber más!</a>
            </div>
        </div>
    </div>
    <div id="chart_div"
         data-edad-actual="@Model.EdadActual"
         data-edad-primera-menstruacion="@Model.EdadPrimeraMentruacion"
         class="card border-primar"
         style="height: 60vh; width: 60vw; margin: 0 auto; margin-top: 160px;">
    </div>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="~/js/chartConfig.js"></script>
</body>







