.custom-color {
    color: #c33b80;
}

.pantalla1 {
    background: linear-gradient(to bottom, #2EBDCD 37%, #fff 37%);
    
}

.pantalla3 {
    background: linear-gradient(to bottom, #2EBDCD 27%, #fff 27%);
    
}

.pantalla5 {
    background: linear-gradient(to bottom, #2EBDCD 0%, #2EBDCD 25%, #fff 25%, #fff 100%);
    
}

.custom-background,
#pantalla2Body.pantalla2-container {
    background: linear-gradient(to bottom, #c33b80 0%, #c33b80 35%, #fdddca 35%, #fdddca 100%);
    border-bottom-left-radius: 50% 20px;
    border-bottom-right-radius: 50% 20px;
}


.custom-color-one
{
    color:blue;
}
.container {
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.titulo-formulario {
    color: #fff;
}

.dropdown-label {
    color: #1e3799;
}


.dropdown-icon,
.dropdown-icontwo {
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    font-size: 30px;
}


.selected-item {
    background-color: #c33b80;
    color: white; 
}

#locacionesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.locacion-item {
    width: 60px; 
    height: 80px;
    margin: 10px; 
    text-align: center; 
    box-sizing: border-box;
    position: relative;
}

.locacion-icon {
    font-size: 18px; 
    position: absolute;
    top: 10px; 
    left: 50%;
    transform: translateX(-50%); 
}

.locacion-nombre {
    position: absolute;
    bottom: 5px; /* Ajusta la distancia del nombre al cuadrado según tus necesidades */
    width: 100%;
    text-align: center;
    font-size: 10px; /* Ajusta el tamaño del nombre según tus necesidades */
}







