body {
    background: linear-gradient(to bottom, #00FFFF 40%, #fff 40%);
}

.body2-bajo {
    background: linear-gradient(to bottom, #00FFFF 30%, #fff 30%);
}

.body2-medio {
    background: linear-gradient(to bottom, #00FFFF 30%, #fff 30%);
}

.body2-alto {
    background: linear-gradient(to bottom, #c33b80 50%, #fff 40%);
}

.bg-dark-half {
    background: linear-gradient(to right, #c33b80 40%, #fff 40%);
}

.map-container {
    margin-top: 100px; 
}

.reserva-texto {
    font-weight: bold;
    color: #c33b80;
    margin-bottom: 50px;
}

.common-icon i {
    font-size: 24px; /* O ajusta el tamaño deseado */
}

.text-white-half {
    background: linear-gradient(to right, #c33b80 50%, #fff 50%);
    padding: 0 5px; 
}

.container {
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.titulo-formulario {
    color: #fff;
}

.dropdown-label {
    color: #1e3799;
}

.dropdown-labeltwo {
    color: red;
}

.dropdown-icon,
.dropdown-icontwo {
    background-color: lightgrey;
    color: blue;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    font-size: 24px;
}

.dropdown-icontwo {
    color: red;
}

.dropdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.selected-icon {
    background-color: #c33b80 !important;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.unselected-icon {
    background-color: #f1f1f1 !important;
    color: #000;
    border-radius: 5px;
    padding: 5px;
}

.selected-icon-high {
    background-color: #00FFFF !important;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.unselected-icon-high {
    background-color: #f1f1f1 !important;
    color: #000;
    border-radius: 5px;
    padding: 5px;
}

.custom-square {
        width: 50px; /* Ajusta el ancho según sea necesario */
        height: 50px; /* Ajusta la altura según sea necesario */
    }


#mapa {
    width: 400px;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 200px; /* Ajusta según sea necesario */
}


.color-texto {
    color: #000
}

.font-family-roboto {
    font-family: 'Roboto', sans-serif;
}

.position-relative {
    position: relative;
}
