@model SistemaMerck.Modelos.ViewModels.UsuarioVM
@{
    ViewData["Title"] = "Pantalla3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="pantalla3">
    <div class="container-fluid p-0">
        <div class="row m-0 rounded-top align-items-center">
            <div class="col-3">
                <!-- Enlace para retroceder -->
                <a href="javascript:history.back()" class="btn">
                    <i class="bi bi-caret-left"></i>
                </a>
            </div>

            <div class="col-6 text-center">
                <!-- Contenedor para "Indicador" -->
                <div class="form-text-container">
                    <span class="form-text fs-4 fw-bold text-white">Indicador</span>
                </div>
            </div>

            <div class="col-3">
                <!-- Enlace para avanzar -->
                <a asp-controller="Formulario" asp-action="MostrarFormulario" class="btn">
                    <i class="bi bi-caret-right"></i>
                </a>
            </div>
        </div>
    </div>
</body>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <p>
                Las mujeres nacen con una reserva de óvulos finita, alrededor de un millón. Desde el
                nacimiento, ese número comienza a disminuir progresivamente. Se alcanza la pubertad con
                unos 300.000 y en cada ciclo menstrual, por más que uno "ovule" un solo óvulo, muchos
                son reclutados y se "pierden".
            </p>
            <p>
                A medida que las mujeres son más grandes de edad, esa pérdida de óvulos se acelera, pero
                además existe un factor agregado que es que los óvulos empiezan a "envejecer", lo
                que se traduce en posibles daños en su estructura genética. Por eso luego de cierta edad
                se produce una caída en la tasa de fertilidad, un aumento en la tasa de abortos, y también un aumento
                del número de embarazos con aneuploidías (alteraciones en el número de cromosomas)
                que pueden generar bebés con aneuploidías (problemas de cromosomas) o bien abortos debido a
                un problema de cromosomas incompatible con la vida.
            </p>
            <p>
                Cuando una mujer decide preservar su fertilidad, a través de la criopreservación
                de óvulos, detiene este avance y deterioro de su calidad ovocitaria, que queda
                "congelado" al riesgo del momento en que se produjo la congelación.
            </p>
            <p>
                Es por eso que te recomendamos consultar con tu médico de cabecera para que pueda
                asesorarte de estos temas, para que pueda planificar tu fertilidad futura, y que si
                algún día decidís avanzar con un embarazo tengas toda la información necesaria
            </p>
        </div>
        <div class="text-center">
            <a asp-controller="Formulario" asp-action="MostrarFormulario" class="btn btn-info btn-rounded btn-text-white fs-5">Contactar Centro</a>
        </div>
    </div>
</div>


