@model SistemaMerck.Modelos.ViewModels.UsuarioVM
@{
    ViewData["Title"] = "Pantalla3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="pantalla3">
    <div class="container-fluid p-0">
        <div class="row m-0 rounded-top align-items-center">
            <div class="col-3">
                <!-- Enlace para retroceder -->
                <a href="javascript:history.back()" class="btn">
                    <i class="bi bi-caret-left"></i>
                </a>
            </div>

            <div class="col-6 text-center">
                <!-- Contenedor para "Indicador" -->
                <div class="form-text-container">
                    <span class="form-text fs-4 fw-bold text-white">Indicador</span>
                </div>
            </div>

            <div class="col-3">
                <!-- Enlace para avanzar -->
                <a asp-controller="Formulario" asp-action="MostrarFormulario" class="btn">
                    <i class="bi bi-caret-right"></i>
                </a>
            </div>
        </div>

        <div class="row bg-white border-top-left-radius-1000 border-top-right-radius-1000 height-50 m-0">
        </div>
    </div>

    <div class="container mt-3">
        <div class="card" style="border-radius: 10px;">
            <div class="card-body">
                <p class="card-text">
                    La reserva ovárica es un indicador clave de la salud reproductiva de una mujer y se refiere a la
                    cantidad y calidad de los óvulos que tiene en sus ovarios. A medida que una mujer envejece,
                    es natural que la reserva ovárica disminuya gradualmente. Esta disminución se debe al agotamiento
                    natural de los folículos ováricos a lo largo del tiempo. La reserva ovárica baja puede estar asociada
                    con una reducción en la fertilidad y puede ser un factor importante a considerar
                    para aquellas mujeres que planean concebir.
                    La disminución de la reserva ovárica puede influir en la capacidad de una mujer para
                    quedar embarazada de manera natural, y también puede afectar la respuesta a tratamientos de fertilidad.
                    Es importante tener en cuenta que la tasa de declive de la reserva ovárica puede variar
                    entre mujeres, y factores genéticos y ambientales también pueden desempeñar un papel significativo.
                    Las mujeres que están al tanto de su reserva ovárica pueden tomar decisiones informadas
                    sobre la planificación familiar y explorar opciones como la preservación de la fertilidad si
                    así lo desean.
                    En la práctica clínica, se realizan pruebas de la reserva ovárica para evaluar el estado de
                    los ovarios y anticipar posibles desafíos reproductivos. Las mujeres que están conscientes
                    de los cambios en su reserva ovárica pueden trabajar de cerca con profesionales de la salud
                    para desarrollar estrategias personalizadas y tomar decisiones informadas
                    sobre la maternidad.
                </p>
            </div>

            <div class="text-center">
                <a asp-controller="Formulario" asp-action="MostrarFormulario" class="btn btn-info btn-rounded btn-text-white fs-5">Contactar Centro</a>
            </div>
        </div>
    </div>
</body>


















