@model SistemaMerck.Modelos.ViewModels.UsuarioVM
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body class="pantalla1">
    <form method="post" asp-controller="Grafico" asp-action="Grafico" class="mt-5">
        <div class="container-fluid p-0">
            <div class="row m-0 rounded-top">
                <div class="col-12 text-center vh-50 mt-3">
                    <div class="col">
                        <div class="form-text-container d-flex align-items-center justify-content-center">
                            <h2 class="form-text text-white mb-0 fw-bold fs-3">Formulario</h2>
                            <button type="submit" class="btn text-center">
                                <i class="bi bi-caret-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div style="height:50px;background-color:white;border-top-left-radius:100px;border-top-right-radius:100px;">
                </div>
            </div>
        </div>
        

        <div class="container mt-5">
            <div class="row justify-content-center mt-3">
                <div class="col-md-6">
                    <div class="card-body text-center">
                        <!-- Edad Actual -->
                        <div class="form-group mt-4">
                            <label class="form-label text-primary">Edad Actual:</label>
                            <div class="input-group custom-input-group d-flex justify-content-center" style="margin-bottom: 15px;">
                                <span class="input-group-text text-primary custom-icon" style="margin-right: 10px;">
                                    <i class="bi bi-people" style="font-size: 20px;"></i>
                                </span>
                                <select name="EdadActual" id="EdadActual" asp-for="EdadActual" asp-items="@Model.EdadesActuales" class="ps-3 custom-select">
                                </select>
                            </div>
                            <span asp-validation-for="EdadActual" class="text-danger"></span>
                        </div>

                        <hr class="mt-4" />

                        <!-- Edad Primera Menstruación -->
                        <div class="form-group mt-4">
                            <label class="form-label custom-color">Edad Primera Menstruación:</label>
                            <div class="input-group custom-input-group d-flex justify-content-center" style="margin-bottom: 15px;">
                                <span class="input-group-text dropdown-label custom-icon" style="margin-right: 10px;">
                                    <i class="bi bi-moisture" style="font-size: 20px;"></i>
                                </span>
                                <select name="EdadPrimeraMentruacion" id="EdadPrimeraMentruacion" asp-for="EdadPrimeraMentruacion" asp-items="@Model.EdadesPrimeraMentruacion" class="ps-3 custom-select">
                                </select>
                            </div>
                            <span asp-validation-for="EdadPrimeraMentruacion" class="text-danger"></span>
                        </div>

                        <hr class="mt-4" />

                    </div>
                </div>
            </div>

            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="submit">Iniciar</button>
            </div>
        </div>




    </form>
</body>
