
@{
    ViewData["Title"] = "EnviarConsulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2>¡Gracias por Enviar tu Consulta!</h2>
    <p>Nos pondremos en contacto contigo lo antes posible.</p>
</div>


